* {
  padding: 0;
  margin: 0;
  font-family: "Aboreto", sans-serif;
  box-sizing: border-box;
}
body {
  background-image: url(/images/books-gd8a7ebbc6_1920.jpg);
  background-size: cover;

  color: #fff;
  height: 100vh;
}

.container {
  width: 30rem;
  margin: 2rem auto;

  &__title {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  &__form {
    background-color: #fff;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border-radius: 2px;
    overflow: hidden;
  }

  &__btn {
    padding: 0.7rem;
    background-color: burlywood;
    color: #fff;
    cursor: pointer;
    border: none;
    &:hover {
      color: #000;
    }
  }
}

#input {
  flex: 1;
  padding: 0.7rem;
  border: none;
  background-color: transparent;
  outline: none;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: #fff;
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: #000;
  font-weight: 700;
  border-radius: 2px;
}

span {
  cursor: pointer;
  margin-right: 0.8rem;
  color: red;
}

p {
  font-size: 1rem;
  margin-left: 1rem;
  color: rgb(52, 52, 52);
}
