* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 250px;
  background-color: #777;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 20px;
    &:nth-child(odd) {
      background: #f9f9f9;
    }
    &:hover {
      background: #ddd;
    }
    &.checked {
      background: forestgreen;
      color: #eee;
      text-decoration: line-through;
    }
    &::before {
      content: "";
      position: absolute;
      border-color: #777;
      border-style: solid;
      border-width: 0 2px 2px 0;
      top: 10px;
      left: 16px;
      transform: rotate(45deg);
      height: 15px;
      width: 7px;
    }
  }
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px 10px 10px;
  font-size: 25px;
  &:hover {
    color: red;
  }
}

.header {
  border-radius: 20px;
  padding: 30px 40px;
  color: white;
  text-align: center;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

input {
  margin: 0;
  border: none;
  border-radius: 5px;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  margin-left: 10px;
  padding: 10px;
  width: 20%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  &:hover {
    background-color: #bbb;
  }
}

/*
button {
  width: 50px;
  height: 20px;
}

input {
  border: 1px solid lightgray;
  border-radius: 5px;
  &:checked + span {
    text-decoration: line-through;
  }
}

ul {
  margin: 0;
  li {
    width: 130px;
    height: auto;
    background-color: antiquewhite;
    border-radius: 5px;
    list-style: none;
    margin: 5px;
  }
}
*/
